@media (max-width: 1799px) {
    .header__logo {
        width: 80px;
    }
    .main-menu > ul > li > a {
        font-size: 17px;
    }
    .main-menu > ul {
        gap: 18px;
    }
    .main-menu > ul > li > a > i {
        font-size: 15px;
        margin-left: 2px;
    }
    .main-menu > ul > li > a::after {
        width: 27px;
        height: 2px;
        bottom: -4px;
    }
    .header-in {
        padding: 25px 0;
    }
    .dropdown-menu ul li a {
        font-size: 14px;
        padding: 6px 13px;
    }
    .dropdown-menu {
        min-width: 190px;
    }


    .hero-content .h1 {
        font-size: 69px;
        margin: 0 0 7px;
    }
    .hero-content h4 {
        font-size: 34px;
    }
    .hero-content h5 {
        font-size: 25.3px;
        margin: 0 0 13px;
    }
    .hero-content p {
        font-size: 17px;
    }
    .default-button.min-width {
        min-width: 260px;
    }
    .default-button {
        font-size: 17px;
        padding: 7px 22px;
        min-height: 52px;
    }
    .hero-content .buttons {
        margin-top: 30px;
        gap: 12px;
    }
    .hero__image img {
        width: 500px;
        margin-top: 20px;
    }
    .hero-section {
        padding: 50px 0 60px;
    }


    .h2 {
        font-size: 50px;
        margin: 0 0 26px;
    }
    .hd-line {
        height: 3px;
        width: 155px;
        margin-top: 3px;
    }
    .tab-nav ul li {
        font-size: 20px;
    }
    .tab-nav ul {
        gap: 30px;
    }
    .tab-nav {
        margin-top: 35px;
    }
    .sec-title {
        margin-bottom: 30px;
    }
    .tab-nav.tab-nav--isotope ul li::after, .tab-nav ul li a::after {
        height: 7px;
        width: 7px;
        bottom: -5px;
    }
    .portfolio-item {
        /* padding: 6px; */
    }

    .services-section {
        padding: 60px 0 70px;
    }
    .service-card .content h4 {
        font-size: 26px;
    }
    .service-card .icon {
        height: 85px;
        margin-bottom: 55px;
    }
    .service-card {
        min-height: 320px;
        padding: 65px 20px 60px;
        border-width: 2px;
    }
    .services-wrapper {
        --bs-gutter-x: 35px;
    }


    .packages-section {
        padding: 60px 0 70px;
    }
    .package-card .card__head h3 .big {
        font-size: 60px;
    }
    .package-card .card__head h3 .smt {
        font-size: 22px;
    }
    .package-card .card__head h3 .sm {
        font-size: 16px;
        padding-left: 4px;
    }
    .package-card .card__head {
        padding: 30px 15px 5px;
    }
    .chk-ul {
        font-size: 13.4px;
        gap: 7px;
    }
    .package-card .card__body__top {
        padding: 15px 30px;
        max-height: 353px;
    }
    .chk-ul li::before {
        font-size: 12px;
        margin: 3px 6px 0 0;
    }
    .package-card .card__body__bottom {
        margin: 0 30px;
        padding: 27px 16px;
    }


    .testimonial-slide p {
        font-size: 20px;
    }
    .testimonial-slide .quote-bg {
        width: 120px !important;
        /* transform: translate(-50%, -90%); */
    }
    .testimonial-client .image {
        height: 70px;
        width: 70px;
        margin: 0 0 15px;
    }
    .testimonial-client h4 {
        font-size: 28px;
    }
    .slider-arrow-1 .owl-nav button {
        font-size: 30px !important;
    }
    .testimonial-slide {
        padding: 60px 0 40px;
    }

    .start__content p {
        font-size: 14px;
    }
    .start__content .bottom-button {
        margin-top: 30px;
    }
    .start-section {
        padding: 45px 0;
    }
    .h3 {
        font-size: 30px;
    }
    .input-x {
        padding: 19px 25px;
        font-size: 20px;
    }
    .project-form__main {
        --bs-gutter-x: 14px;
        --bs-gutter-y: 18px;
    }
    .input-x.nice-select::after {
        border-width: 2px;
        height: 12px;
        width: 12px;
        right: 24px;
        margin-top: -8px;
    }
    .input-x.big {
        height: 350px;
    }
    .project-section {
        padding: 60px 0 70px;
    }

    .footer-logo {
        width: 100px;
    }
    .footer-menu h4 {
        font-size: 22px;
        margin: 0 0 30px;
    }
    .footer-menu ul li a {
        font-size: 13px;
    }
    .footer-menu ul li a.sm {
        font-size: 12px;
    }
    .footer-menu ul {
        gap: 10px;
    }
    .fs-menu a {
        height: 30px;
        width: 30px;
        font-size: 20px !important;
    }
    .footer__top {
        padding: 60px 0 50px;
    }
    .footer-bottom {
        padding: 25px 0;
    }
    .fb-links a {
        font-size: 15px;
    }
    .fb-links {
        gap: 17px;
    }
    .copyright {
        font-size: 15px;
    }
}

@media (max-width: 1399px) {
    .e-c-c-h2 {
        font-size: 64px;
    }

    .n-c-s-h2 {
        font-size: 55px;
        margin: 0 0 15px;
    }


    .contact-popup_outer .modal-dialog {
        max-width: 700px;
    }
    .contact-popup-title-side .in-logo {
        width: 90px;
        margin-bottom: 30px;
    }
    .contact-popup .row {
        --bs-gutter-x: 20px;
    }
    .contact-popup {
        padding: 17px;
    }
    .contact-popup-title-side h2 {
        font-weight: 700;
        font-size: 38px;
    }
    .contact-pop-form {
        padding: 24px;
    }
    .cpf-tags .a {
        font-size: 13px;
        padding: 9px 12px;
        /* border-width: 1px; */
    }
    .cpf-tags .a .bdr {
        border-width: 1px;
    }
    .cpf-tags {
        gap: 7px;
        margin-bottom: 8px;
    }
    .input-y {
        padding: 8px 0;
        font-size: 13px;
    }
    .single-input-y {
        margin-bottom: 4px;
    }
    .attachment-y {
        margin: 20px 0;
        font-size: 19px;
        gap: 18px;
    }
    .attachment-y img {
        width: 16px;
    }
    .pop-submit {
        font-size: 18px;
        padding: 10px 22px;
        min-height: 50px;
    }


}


@media (max-width: 1199px) {
    .hero__image img {
        width: 350px;
        margin: 0 0 30px;
    }


    .c-w-d-h2 .sm {
        font-size: 27px;
    }
    .c-w-d-h2 .big {
        font-size: 45px;
    }
    .c-w-d-h2 .mid {
        font-size: 35px;
        letter-spacing: 2px;
    }


    .contact-menu-side {
        width: 100%;
    }
    .contact-form-side {
        width: 100%;
    }
    
}


@media (max-width: 991px) {
    .hero__image {
        text-align: center;
        direction: ltr;
    }
    .hero-section {
        padding: 20px 0 50px;
    }

    .header-in {
        padding: 18px 0;
    }

    .testimonial-section__inner {
        padding: 0;
    }

    .start__content {
        text-align: center;
        align-items: center;
    }
    .start__content .bottom-button {
        margin-top: 10px;
    }
    .start__content p {
        font-size: 16px;
    }
    .start__image {
        text-align: center;
        margin: 0 auto 40px;
        width: 400px;
        max-width: 100%;
    }

    .footer-logo {
        width: 221px;
    }
    .footer-logo img {
        width: 100%;
    }
    .footer-menu h4 {
        font-size: 22px;
        margin: 0 0 12px;
    }

    .header-section {
        position: relative;
    }
    .header__logo {
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header-in {
        padding: 25px 0;
    }


    .about__content {
        flex-direction: column;
        align-items: center;
    }
    .about__content__text {
        padding: 0;
        margin-left: 0;
        margin-top:30px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about__content__text .icon {
        padding: 5px;
        width: 70px;
        margin: -80px -12px 0 auto;
        background: #00001A;
    }


    .c6__image img {
        width: 90%;
        max-width: 500px;
        margin-bottom: 30px;
    }


    .digital-solution-image {
        max-width: 600px;
        margin: 0 auto 20px;
    }


    .e-c-c-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .e-c-c-image img {
        width: 140% !important;
        margin-left: -20%;
        margin-right: -20%;
        display: block;
        max-width: 600px;
    }

    .n-c-s-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .n-c-s-image img {
        width: 160% !important;
        margin-left: -30%;
        margin-right: -30%;
        display: block;
        max-width: 600px;
    }
}
@media (max-width: 767px) {
    .hero-content {
        text-align: center;
    }
    .hero-content .h1 {
        font-size: 55px;
        margin: 0 0 10px;
    }
    .hero-content .h1 {
        line-height: 1;
    }
    .hero-content h4 {
        font-size: 30px;
        margin: 0 0 5px;
    }
    .hero-content h5 {
        font-size: 22px;
        margin: 0 0 13px;
    }
    .hero-content p {
        font-size: 16px;
    }

    .hero-content .buttons {
        flex-direction: column;
    }
    .hero-content .buttons .default-button {

    }

    .h2 {
        font-size: 28px;
        margin: 0 0 13px;
    }
    .hd-line {
        height: 4px;
        width: 130px;
        margin-top: 3px;
    }
    .tab-nav {
        width: 100%;
    }
    .tab-nav ul li {
        font-size: 16px;
        white-space: nowrap;
    }
    .tab-nav ul {
        gap: 20px;
        width: calc(100% + 24px);
        margin-left: -12px;
        padding: 0 12px 10px;
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: flex-start;
    }
    .portfolio-item {
        width: 100%;
        padding-top: 66.4%;
        margin: 10px 0;
    }
    .sec-title {
        margin-bottom: 35px;
    }
    .tab-nav {
        margin-top: 20px;
    }


    .services-wrapper {
        --bs-gutter-x: 25px;
    }
    .services-section {
        padding: 40px 0 40px;
    }

    .testimonial-slide p {
        font-size: 14.4px;
    }
    .testimonial-client h4 {
        font-size: 20px;
    }
    .testimonial-client {
        margin-top: 20px;
    }
    .testimonial-client .image {
        height: 90px;
        width: 90px;
        margin: 0 0 10px;
    }
    .testimonial-slide .quote-bg {
        width: 200px !important;
    }
    .testimonial-slide {
        padding: 40px 0 30px;
    }

    .start__image {
        margin: 0 auto 24px;
        width: 147px;
    }

    .start__content .bottom-button {
        margin-top: 5px;
    }
    .default-button {
        font-size: 15px;
        padding: 7px 22px;
        min-height: 48px;
    }

    .project-section__title {
        margin: 0 0 18px !important;
    }
    .project-section__title .h2 {
        font-size: 24px;
    }
    .h3 {
        font-size: 18px;
    }
    .project-section {
        padding: 40px 0 90px;
    }
    .project-form {
        padding: 0 20px;
    }
    .input-x {
        padding: 10px 16px;
        font-size: 14px;
    }
    .project-form__main {
        --bs-gutter-x: 10px;
        --bs-gutter-y: 13px;
    }
    .input-x.big {
        height: 140px;
    }
    .input-x.nice-select::after {
        border-width: 1px;
        height: 7px;
        width: 7px;
        right: 12px;
        margin-top: -5px;
    }

    .footer-logo {
        width: 100%;
        text-align: center;
    }
    .footer-logo img {
        width: 180px;
    }
    .footer-menu {
        text-align: center;
    }

    .footer__top {
        padding: 0px 0 40px;
    }
    .fs-menu {
        justify-content: center;
    }
    .fs-menu a {
        height: 25px;
        width: 25px;
        font-size: 14px !important;
    }

    .footer-bottom {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    .fb-links {
        display: flex;
        gap:5px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .fb-links a {
        font-size: 14px;
    }
    .copyright {
        font-size: 14px;
        order: -1;
    }
    .footer-bottom {
        padding: 15px 0 25px;
    }


    .about-us-section__title h2 {
        line-height: 1;
    }
    .about-us-section__title h2 .mobile-sm {
        font-size: 34px;
        letter-spacing: 2.2px;
        display: block;
    }
    .about-us-section__title h2 .mobile-big {
        font-size: 50px;
        display: block;
    }
    .h4 {
        font-size: 20px;
        margin: 0px 0 15px;
    }
    .about-us-section {
        padding: 30px 0;
    }


    .about__content__text .h2-b {
        margin: 0 0 13px;
    }


    .h2-b {
        font-size: 30px;
    }


    .performance-content .icon {
        width: 100px;
        margin: 0 0 6px;
    }
    .performance-content p {
        font-size: 16px;
    }
    .performance-section {
        padding: 33px 0;
    }


    .client-section__title .bg-quote {
        width: 120px;
        top: -7px;
    }
    .client-section__title p {
        font-size: 16px;
    }
    .client-section {
        padding: 45px 0;
    }
    .slider-arrow-1 .owl-nav button {
        font-size: 22px !important;
    }
    .client-slider {
        padding: 0 20px;
    }
    .client-slide__bx {
        padding: 17px 15px 45px 15px;
    }
    .client-slide__meta .image {
        margin-top: -30px;
        margin-bottom:8px;
        height: 60px;
        width: 60px;
    }
    .client-slide__meta h4 {
        font-size: 16px;
    }
    .client-slider .owl-nav button {
        top: calc(50% - 27px);
    }
    .client-section__title {
        margin-bottom: 20px;
    }


    .c6__image img {
        width: 75%;
        max-width: 500px;
        margin-bottom: 10px;
    }
    .c6__content .h2-b {
        font-size: 30px;
        margin: 0 0 12px;
    }
    .c6__content {
        text-align: center;
        align-items: center
        ;
    }
    .c6__content p {
        font-size: 16px;
    }
    .c6__content .bottom-button {
        margin: 5px auto 0;
    }
    .c6-section {
        padding: 25px 0 30px;
    }
    .c6-row {
        margin-bottom: 35px;
    }

    .digital-solution-image {
        margin: 0 auto 15px;
        width: 80%;
    }
    .digital-solution-content {
        text-align: center;
        align-items: center;
    }
    .digital-solution-content .h2 {
        font-size: 50px;
        margin: 0 0 5px;
    }
    .digital-solution-content .h2 .pre {
        font-size: 27px;
    }
    .digital-solution-content h3 {
        font-size: 18px;
        margin: 0 0 20px;
        text-transform: uppercase;
    }
    .digital-solution-content p {
        font-size: 16px;
    }
    .digital-solution-section {
        padding: 40px 0;
    }


    .c-w-d-h2 {
        line-height: 1.02;
        margin: 0 0 18px;
    }
    .c-w-d-h2 .sm {
        font-size: 25px;
    }
    .c-w-d-h2 .big {
        font-size: 33px;
    }
    .c-w-d-h2 .mid {
        font-size: 28px;
        letter-spacing: 2px;
    }
    .c6__image img {
        margin-bottom: 10px;
    }

    .e-c-c-h2 {
        font-size: 42px;
    }
    .text-button {
        font-size: 15px;
        gap: 6px;
    }
    .text-button .arrow-right {
        font-size: 11px;
    }

    .b-c-c-h2 .big {
        font-size: 45px;
        margin-bottom: 10px;
    }
    .b-c-c-h2 .s2 {
        font-size: 21px;
    }
    .b-c-c-h2 .s1 {
        font-size: 21px;
        margin: 15px 0 15px;
    }
    .b-c-c-h2 {
        margin: 0 0 17px;
    }

    .n-c-s-h2 {
        font-size: 40px;
        margin: 0px 0 13px;
    }

    .m-a-s-h2 .big {
        font-size: 30px;
        line-height: 1;
        margin: 0 0 12px;
    }
    .m-a-s-h2 .sm {
        font-size: 20px;
        max-width: 280px;
        margin: 0 auto;
        display: block;
    }
    .m-a-s-h2 {
        margin: 0 0 18px;
    }


    .title-section .h2 {
        font-size: 40px;
        line-height: 1.08;
    }
    .title-section .h2 .slt-mbl-sm {
        font-size: 28px;
        text-transform: uppercase;
    }

    .mb-fs-sereea {
        font-size: 23px !important;
    }
    .mobile-uppercase {
        text-transform: uppercase;
    }
    .packages-hero-title {
        margin-bottom: 5px;
    }


    .contact-us-map {
        height: 130px;
    }
    .contact-us-section {
        padding: 65px 0 50px;
    }
    .contact-menu-side__inner {
        padding: 40px;
    }
    .contact-menu h4 {
        font-size: 32px;
        margin: 0 0 12px;
        text-align: center;
    }
    .contact-menu ul li a {
        font-size: 15px;
        gap: 10px;
    }
    .contact-menu ul {
        gap: 15px;
    }
    .s-menu {
        justify-content: center;
    }
    .contact-menu {
        margin-bottom: 30px;
    }
    .contact-form {
        padding: 25px 17px 40px;
    }
    .contact-form__title h2 {
        font-size: 38px;
    }
    .contact-form__title {
        margin: 0 0 15px;
        text-align: center;
    }
    .contact-form__main {
        --bs-gutter-x: 14px;
    }




}





@media (max-width: 575px) {
 
}


@media (max-width: 370px) {
    .hero-content .h1 {
        font-size: 50px;
    }
    .hero__image img {
        width: 280px;
        margin: 0 0 15px;
    }

    .contact-menu-side__inner {
        padding: 22px;
    }


    .contact-popup-title-side h2 {
        font-size: 32px;
    }
    .contact-pop-form {
        padding: 20px 16px;
    }
    .contact-popup {
        padding: 12px;
    }
}
