/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --theme__color1: #9924FF;
  --theme__color2: #00ECFF;
  --theme__color3: #061558;

  --poppins: 'Poppins', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--poppins);
  background-color: #00001A;
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a,
a:active,
a:focus,
a:active,
a:hover {
  text-decoration: none !important;
  color: inherit;
}

input {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}

::placeholder {
  opacity: 1;
}

:focus::placeholder {
  opacity: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin: 0;
}

.main-wrap {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;  
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-in {
  padding: 50px 0;
}

.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 80px;
  display: block;
}

.header__logo img {}

.main-menu {}

.main-menu>ul {
  display: flex;
  gap: 30px;
}

.main-menu>ul>li {}

.main-menu>ul>li>a {
  font-size: 17px;
  transition: 0.3s;
  position: relative;
}

.main-menu>ul>li:hover>a {
  color: var(--theme__color1);
}

.main-menu>ul>li>a.active {
  font-weight: 700;
}

.main-menu>ul>li>a::after {
  content: '';
  background: #9924FF;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scaleX(0);
  width: 27px;
  height: 2px;
  bottom: -4px;
  transition: 0.3s;
}

.main-menu>ul>li:hover>a::after,
.main-menu>ul>li>a.active::after {
  opacity: 1;
  transform: translate(-50%, 0) scaleX(1);
}

.main-menu>ul>li>a>i {
  color: var(--theme__color1);
  transition: 0.3s;
  font-size: 15px;
  margin-left: 2px;
}

.main-menu>ul>li:hover>a>i {
  transform: rotate(180deg);
}

.main-menu>ul>li .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translate(0,20px) !important;
  inset: 100% auto auto 0px !important;
  transition: 0.3s;
  padding: 10px;
  border-radius: 6px;
}
.main-menu>ul>li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0,15px) !important;
}


.dropdown-menu {
  background: var(--theme__color3);
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 0;
  min-width: 220px;
}

.dropdown-menu ul {}

.dropdown-menu ul li a {
  font-size: 16px;
  padding: 7px 18px;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}

.dropdown-menu ul li a:hover {
  background: var(--theme__color2);
  color: var(--theme__color3);
}

/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}

.offcanvas-open:hover {
  color: #97A3AE;
}

.close-offcanvas {
	color: #fff;
	position: absolute;
	transition: 0.3s;
	right: 23px;
	top: 45px;
	font-size: 20px;
	line-height: 1;
}


.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}

.offcanvas-menu.active {
  transform: translate(0);
}

.offcanvas-menu .offmenu {
  width: 100%;
  z-index: 5;
  position: relative;
  background: #00001A;
  height: 100%;
  padding: 20px 13px 30px;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}

.mobile-menu li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 18px;
  color: #fff;
  padding: 21px 13px;
  border-bottom: 1px solid var(--theme__color1);
  transition: 0.3s;
}
.mobile-menu li a[data-bs-toggle]:not(.collapsed) {
  background: var(--theme__color1);
}
.mobile-menu li a.active {
  font-weight: 700;
}
.mobile-menu li:last-child a {
  border-bottom: none;
}
.mobile-menu li a i {
  font-size: 17px;
  transition: 0.3s;
}
.mobile-menu li a:not(.collapsed) i {
  transform: rotate(180deg);
}
.mobile-menu li a:hover {
  background: var(--theme__color1);
  color: #fff;
}

.dropdown-menu-custom ul {
  background: var(--theme__color2);
  padding: 0px 0;
}

.dropdown-menu-custom ul li a {
  color: var(--theme__color3);
  border-bottom-color: var(--theme__color3);
  padding: 17px 25px;
  font-size: 15px;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ---offcanvas-css-end---*/


/* ---hero-section--- */
.hero-section {
  padding: 50px 0 60px;
  
}

.hero-section__inner {}

.hero-row {}

.hero-content {}

.hero-content h4 {
  font-size: 32px;
  line-height: 1;
  margin: 0 0 0px;
  font-weight: 600;
  color: var(--theme__color1);
  text-transform: uppercase;
}

.hero-content .h1 {
  font-size: 64px;
  margin: 0 0 7px;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero-content h5 {
  font-size: 25.3px;
  margin: 0 0 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 17px;
  line-height: 1.6;
}

.hero-content .buttons {
  margin-top: 52px;
  gap: 18px;
  display: flex;
}

.hero-content .buttons .button {}

.hero__image {
  text-align: right;
  direction: rtl;
}

.hero__image img {
  width: 500px;
  margin-top: 20px;

  max-width: initial;
}

/* ---hero-section---end */


/* ---common--- */
.h2 {
  font-size: 50px;
  margin: 0 0 26px;
}
.h2-b {
  font-size: 36px;
}
.h3 {
  font-size: 30px;
}
.h4 {
  font-size: 23px;
  margin: 0 0 23px;
}

.hd-line {
  height: 3px;
  width: 155px;
  margin-top: 3px;
  border-radius: 10px;
  background: var(--theme__color1);
}

.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cont-blk--center {
  align-items: center;
  text-align: center;
}

.sec-title {
  margin-bottom: 50px;
}

/* ---common---end */


/* ---portfolio-section--- */
.portfolio-section {
  padding: 50px 0;
  background: rgba(136, 0, 255, 0.22);
}

.portfolio-section__inner {}

.portfolio-section__title {}


.portfolio-items {

}
.portfolio-item {
  width: calc(33.3333% - 20px);
  margin: 10px;
  padding-top: 21.0%;
}
.portfolio-item img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* ---portfolio-section---end */


/* ---services-section--- */
.services-section {
  padding: 60px 0 70px;
}

.services-section__inner {}

.services-section__title {}

.services-wrapper {
  --bs-gutter-x: 50px;
  --bs-gutter-y: var(--bs-gutter-x);
}

.service-card {
	border: 2px solid #00ECFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	min-height: 344px;
	padding: 70px 20px 60px;
}

.service-card .icon {
  height: 85px;
  margin-bottom: 55px;
}

.service-card .icon img {
  height: 100%;
}

.service-card .content {}

.service-card .content h4 {
  font-size: 26px;
  margin: 0;
}

/* ---services-section---end */



/* ---packages-section--- */
.packages-section {
  padding: 60px 0 70px;
}

.packages-section__inner {}

.packages-section__title {}

.tab-nav {
  margin-top: 35px;
}

.tab-nav ul {
  display: flex;
  gap: 45px;
}

.tab-nav ul li {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.tab-nav ul li:hover {
  color: var(--theme__color1);
}

.tab-nav ul li a {}

.tab-nav ul li a:hover {}

.tab-nav.tab-nav--isotope ul li.active,
.tab-nav ul li a.active {
  color: var(--theme__color1);
}

.tab-nav.tab-nav--isotope ul li:after,
.tab-nav ul li a::after {
  content: '';
  background: #9924FF;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.3s;

  height: 7px;
  width: 7px;
  bottom: -5px;

}

.tab-nav.tab-nav--isotope ul li.active:after,
.tab-nav ul li a.active::after {
  opacity: 1;
}

.packages__tab-content {}

.packages__tab-pane {}

.packages__row {}

.package-card {
  background: #fff;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.package-card .card__head {
  padding: 40px 20px 10px;
  background: var(--theme__color1);
  color: #fff;
  text-align: center;
}

.package-card--theme-2 .card__head {
  background: var(--theme__color2);
  color: #000000;
}

.package-card--theme-3 .card__head {
  background: var(--theme__color3);
  color: #fff;
}

.package-card .card__head h3 {
  line-height: 1.09;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.package-card .card__head h3 .smt {
  font-size: 22px;
  width: 100%;
}

.package-card .card__head h3 .big {
  font-size: 60px;
}
.package-card .card__head h3 .big-lng {
  /* font-size: 50px; */
}

.package-card .card__head h3 .sm {
  font-size: 16px;
  padding-left: 4px;
  line-height: 1.21;
}

.package-card .card__head h3 .sm del {}

.package-card .card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.package-card .card__body__top {
	flex-grow: 1;
	overflow: auto;

  padding: 15px 30px;
  max-height: 353px

}

.chk-ul {
  display: flex;
  flex-direction: column;

  font-size: 13.4px;
  gap: 7px;

}

.chk-ul li {
  display: flex;
  gap: 3px;
}
.chk-ul li::before {
  font-size: 15px;
  margin: 4px 7px 0 0;
  content: '\f00c';
  font-family: "Font Awesome 5 Pro";

}

.package-card .card__body__bottom {

  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  padding: 27px 16px;

}

.package-card .card__body__bottom .default-button {
  width: 100%;
}

/* ---packages-section---end */


/* ---testimonial-section--- */
.testimonial-section {
  background: var(--theme__color2);
  color: #00092F;
}

.testimonial-section__inner {
  padding: 0 12%;
}

.testimonial-slider {}

.testimonial-slider .owl-nav button {
  top: 75%;
}

.testimonial-slide {
  padding: 60px 0 40px;
  text-align: center;
  position: relative;
  z-index: 1;

  
}

.testimonial-slide .quote-bg {
  width: 120px !important;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -73%);
}

.testimonial-slide h2 {
  margin: 0;
  line-height: 1.08;
}

.testimonial-slide p {
  font-size: 24px;
  line-height: 1.6;
}
.testimonial-client {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-client .image {
  filter: drop-shadow(5px 15px 25px rgba(0, 0, 0, 0.25));
  height: 70px;
  width: 70px;
  margin: 0 0 15px;

}
.testimonial-client .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.testimonial-client h4 {
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  color: #000000;
}


.slider-arrow-1 .owl-nav {

}
.slider-arrow-1 .owl-nav button {
  font-size: 30px !important;
}

.slider-arrow--center .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
}
.slider-arrow--center .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
}

/* ---testimonial-section---end */



/* ---start-section--- */
.start-section {
  padding: 60px 0;
}

.start-section__inner {}

.start__row {
  align-items: center;
}

.start__content {}

.start__content .h2 {}

.start__content p {
  font-size: 18px;
  line-height: 1.7;
}

.start__content .bottom-button {
  margin-top: 50px;
}

/* ---start-section---end */


/* ---project--section--- */
.project-section {
  padding: 50px 0;
  background: rgba(136, 0, 255, 0.22);
}

/* ---project--section---end */



/* ---project-section--- */
.project-section {
  padding: 90px 0 100px;
}

.project-section__inner {

}

.project-section__title {

}

.project-form {

}

.project-form__main {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 32px;
}

.single-input-x {
  width: 100%;
}

.input-x-outer {
  width: 100%;
}

.input-x {
  padding: 19px 25px;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  background: transparent;
  border: 1px solid var(--theme__color2);
  width: 100%;
  resize: none;
  border-radius: 0;
  transition: 0.3s;
}
.input-x::placeholder {
  color: #fff;
}
.input-x:focus,
.input-x.nice-select:focus {
  border-color: var(--theme__color1) !important;
}
.input-x.nice-select::after {
  border-color: #fff;
  border-width: 4px;
  height: 18px;
  width: 18px;
  right: 33px;
  margin-top: -10px;
}
.input-x.big {
  height: 350px;
}
.input-x.input-x-submit {
  background: var(--theme__color2);
  color: var(--theme__color3);
  transition: 0.3s;
}
.input-x.input-x-submit:hover {
  background: var(--theme__color1);
  border-color: transparent;
}

.input-x.input-x-submit--theme-1 {
  background: var(--theme__color1);
  color: var(--theme__color3);
  transition: 0.3s;
  border-color: var(--theme__color1);
  color: #fff;
}
.input-x.input-x-submit--theme-1:hover {
  background: var(--theme__color2);
  color: var(--theme__color3);
}


.input-x.input-x--theme1 {
  border-color: var(--theme__color1);
}
.input-x.input-x-submit--theme-1

/* ---project-section---end */


/* ---footer-section--- */
.footer-section {
  background: #000000;
}
.footer-section__inner {

}

.footer__top {
  padding: 60px 0 50px;
}
.footer-logo {
  width: 137px;
  display: block;
}
.footer-logo img {

}

.footer-menu {

}
.footer-menu h4 {
font-size: 22px;
    margin: 0 0 20px;
  font-weight: 600;
  color: var(--theme__color2);
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-menu ul li {

}
.footer-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}
.footer-menu ul li a:hover {
  color: var(--theme__color2);
}
.fs-menu {
  gap: 10px;
  flex-direction: row !important;
}
.fs-menu a {
  height: 40px;
  width: 40px;
  font-size: 50px;
  display: block;
  border-radius: 50%;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fs-menu a:hover {
  color: #000 !important;
  background: var(--theme__color2);
}


.footer-bottom {
  padding: 38px 0;
  border-top: 1px solid var(--theme__color2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fb-links {
  display: flex;
  gap: 24px;
}
.fb-links a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  transition: 0.3s;
}
.fb-links a:hover {
  color: var(--theme__color2);
}
.copyright {
  font-size: 16px;
  font-weight: 500;
}
/* ---footer-section---end */


/* ---about-us-section--- */
.about-us-section {
  padding: 40px 0;
}
.about-us-section__inner {

}
.about-us-section__title {

}


.about__content {
  display: flex;
  justify-content: center;
}
.about__content__image {
  width: 480px;
  flex-shrink: 0;
  max-width: 100%;
}
.about__content__image img {

}
.about__content__text {
  padding: 17px 24px;
	width: 480px;
	margin-left: -112px;
	margin-top: 105px;
	background: #00001A;
  max-width: 100%;
}
.about__content__text .icon {
  width: 60px;
  margin: 0 0 20px;
}
.about__content__text .icon img {

}
.about__content__text .h2-b {
  margin: 0 0 17px;
}
.about__content__text p {
  font-size: 14.5px;
  line-height: 1.55;
}
/* ---about-us-section---end */


/* ---performance-section--- */
.performance-section {
  padding: 50px 0;
  background: var(--theme__color2);
  color: #000000;
}
.performance-section__inner {

}

.performance-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.performance-content .icon {
  width: 140px;
  margin: 0 0 6px;
}
.performance-content .icon .h2-b {

}
.performance-content p {
  font-size: 18px;
}
/* ---performance-section---end */


/* ---client-section--- */
.client-section {
  padding: 70px 0;
}
.client-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-section__title {
  position: relative;
  z-index: 1;
}
.client-section__title .bg-quote {
  width: 190px;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: -1;
}
.client-section__title p {
  font-size: 18px;
}


.client-slider {
    padding: 0 50px;
    max-width: 1070px;
    margin: 0 aut8;
}
.client-slider .owl-stage {
  display: flex;
}
.client-slider .owl-stage-outer {
  padding: 0 2px;
}
.client-slider .owl-item {
  display: flex;
  flex-direction: column;
}
.client-slider .owl-nav button {
	color: var(--theme__color2) !important;
	top: calc(50% - 40px);
}
.client-slide {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.client-slide__bx {
  padding: 32px 28px 55px 28px;
  border: 2px solid #fff;
  flex-grow: 1;
  transition: 0.3s;
}
.center .client-slide__bx {
  background: var(--theme__color2);
  border-color: transparent;
  color: #000;
}
.client-slide__bx p {
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}
.center .client-slide__bx p {
  font-weight: 700;
}
.client-slide__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-slide__meta .image {
  margin-top: -35px;
  margin-bottom: 13px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.client-slide__meta .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.client-slide__meta h4 {
  font-size: 24px;
  font-weight: 500;
  transition: 0.3s;
}
.center .client-slide__meta h4 {
  color: var(--theme__color2);
}
/* ---client-section---end */



/* ----title-section---- */
.title-section {
    padding: 30px 0;
}
.title-section__inner {

}
.title-section__title {
  margin: 0 0 25px;
}

.title-section__image {
  text-align: center;
}
/* ----title-section----end */



/* ---c6-section--- */
.c6-section {
  padding: 50px 0;
}
.c6-section__inner {

}

.c6-row {
  margin-bottom: 50px;
  align-items: center;
}
.c6__content {
  
}
.c6__content .h2-b {
  font-size: 45px;
  margin: 0 0 17px;
}
.c6__content p {
  font-size: 17.5px;
}
.c6__content .bottom-button {
  margin-top: 12px;
}
.c6__content .bottom-text-button {
  margin-top: 9px;
}
.c6__image {  
  text-align: center;
}
.c6__image img {
  width: 80%;
}


.c-w-d-h2 {
  line-height: 0.9;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.c-w-d-h2 .sm {
  font-size: 37px;
}
.c-w-d-h2 .big {
  font-size: 65px;
}
.c-w-d-h2 .mid {
  font-size: 50px;
  letter-spacing: 3.2px;
}
.c-w-d-image img {
  width: 100%;
}

.e-c-c-h2 {
  font-size: 70px;
  text-transform: uppercase;
}
.e-c-c-image img {
  width: 140%;
  margin-left: -20%;
  max-width: initial;
}

.b-c-c-h2 {
  margin: 0 0 35px;
  line-height: 1;
}
.b-c-c-h2 .s1 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
}
.b-c-c-h2 .big {
  font-size: 92px;
  margin-bottom: 5px;
  display: block;
}
.b-c-c-h2 .s2 {
  font-size: 27px;
}

.n-c-s-h2 {
  font-size: 66px;
  margin: 0 0 20px;
}
.n-c-s-image {

}
.n-c-s-image img {
	width: 160%;
	margin-left: -30%;
	max-width: initial;
}

.m-a-s-h2 {
  margin: 0 0 26px;
}
.m-a-s-h2 .big {
  font-size: 67px;
  line-height: 0.9;
  text-transform: uppercase;
  margin: 0 0 12px;
}
.m-a-s-h2 .sm {
  font-size: 30px;
}
/* ---c6-section---end */


/* ---digital-solution-section--- */
.digital-solution-section {
  padding: 60px 0;
  background: url('images/degital-dreams-bg.png') no-repeat center center/cover;
}
.digital-solution-section__inner {

}
.digital-solution-row {
  align-items: center;
}
.digital-solution-content {

}
.digital-solution-content .h2 {
  font-size: 70px;
  margin: 0 0 5px;
  line-height: 1;
  text-transform: uppercase;
}
.digital-solution-content .h2 .pre {
  display: block;
  font-size: 40px;

}
.digital-solution-content h3 {
  font-size: 53px;
  margin: 0 0 20px;
  font-weight: 500;
  line-height: 1;
}
.digital-solution-content p {
  font-size: 18.5px
}

.digital-solution-image {

}
/* ---digital-solution-section---end */



/* ---contact-us-section--- */
.contact-us-section {
  padding: 290px 0 100px;
  background: var(--theme__color2);
  position: relative;
  z-index: 1;
}
.contact-us-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: -1;
}
.contact-us-map img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.contact-row {

}
.contact-menu-side {
  width: 40%;
  flex-shrink: 0;
  background: var(--theme__color1);
  display: flex;
  flex-direction: column;
}
.contact-menu-side__inner {
  padding: 65px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-menu {
  margin-bottom: 50px;
}
.contact-menu h4 {
  font-size: 44px;
  margin: 0 0 15px;
}
.contact-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-menu ul li {

}
.contact-menu ul li a {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-menu ul li a:hover {

}
.contact-menu ul li a .icon {
  font-size: 15px;
  width: 30px;
  height: 30px;
  background: #fff;
  color: var(--theme__color1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.s-menu {
  gap: 8px !important;
  flex-direction: row !important;
}
.s-menu a {

}

.contact-form-side {
  width: 60%;
}
.contact-form {
  padding: 70px;
  background: #00001A;
}
.contact-form__title {
  margin: 0 0 30px;
}
.contact-form__title h2 {
  font-size: 48px;
  margin: 0 0 0px;
  line-height: 1;
}
.contact-form__title p {

}
.contact-form__main {
  --bs-gutter-x: 20px;
  --bs-gutter-y: var(--bs-gutter-x);
}
/* ---contact-us-section---end */


/* ---contact-popup--- */
.contact-popup_outer {

}
.contact-popup_outer .modal-dialog {
  max-width: 1060px;
}

.contact-popup {
  padding: 35px;
  background:  url('images/contact-pupup-bg.png') no-repeat center center/cover;

}
.contact-popup .row {
  --bs-gutter-x: 50px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.contact-popup-title-side {

} 
.contact-popup-title-side .in-logo {
  width: 140px;
  margin-bottom: 70px;
  display: block;
}
.contact-popup-title-side h2 {
  font-weight: 700;
  font-size: 57px;
  line-height: 1.42;
}
.contact-pop-form {
  padding: 40px;
  background: #010001;
}
.cpf-tags {
  gap: 10px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
}
.cpf-tags .a {
  font-size: 17px;
  padding: 12px 16px;
  font-weight: 600;
  display: block;
  /* border: 2px solid #fff; */
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.cpf-tags .a .bdr {
  border: 2px solid #fff;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
}
.cpf-tags .a .input:checked ~ .bdr {
  background: var(--theme__color1);
  border-color: transparent;
}
.cpf-tags .a:hover {

}
.single-input-y {
  width: 100%;
  margin-bottom: 6px;
}
.input-y-outer {
  width: 100%;

}
.input-y {
  padding: 10px 0;
  font-size: 17px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.attachment-y {
  margin: 35px 0;
  font-size: 25.2px;
  gap: 28px;
  font-weight: 600;
  width: 100%;
  display: flex;
  cursor: pointer;
}
.attachment-y img {
  width: 22px;
}
.attachment-y .txt {

}
.pop-submit {
  font-size: 28px;
  padding: 10.5px 22px;
  min-height: 52px;
  gap: 7px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color2);
  transition: 0.3s;
  border: 2px solid transparent;
  width: 100%;
  color: #00163D;
  transition: 0.3s;
}
.pop-submit:hover {
  background: var(--theme__color1);
  color: #fff;
}
/* ---contact-popup---end */